@import url('https://fonts.googleapis.com/css2?family=poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}


header{
    position:fixed;
    top:0;
    left :0;
    width : 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    z-index: 99;
    backdrop-filter: blur(20px);
}

.logo{
    font-size: 30px;
    color : #fff;
    text-decoration: none;
    font-weight: 700;
    margin-right: auto;
}


nav a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.user-auth{
    margin-left: 40px;
}
.user-auth .login_btn_model {
    height : 40px;
    padding: 0 35px;
    background: transparent;
    border : 2px solid #fff;
    border-radius : 40px;
    font-size: 16px;
    color : #fff;
    font-weight: 500;
    cursor : pointer;
    transition: .5s;
    text-decoration: none;
}
.user-auth .login_btn_model:hover{
    background: #fff;
    color : #222
}


section{
    min-height: 100vh;
    background: url('back5.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 100px;
}


section h1{
    position : absolute;
    bottom : 40px;
    font-size: 25px;
    color : #fff;
    font-weight: 600;
}

.login_btn_model {
    display: inline-flex;        /* key change */
    align-items: center;         /* vertical center */
    justify-content: center;     /* horizontal center */

    padding: 15px 60px;
    font-size: 18px;
    font-weight: 600;

    border-radius: 50px;
    color: #fff;
    text-decoration: none;

    background: linear-gradient(45deg, #ff6b6b, #5f27cd, #00d2d3);
    background-size: 300% 300%;

    transition: all 0.4s ease;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);

}

/* Hover = even cooler */
.login_btn_model:hover {
    transform: scale(1.1);
    background-position: right center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}




.auth-model{
 position:fixed;
 width:420px;
 height:440px;
 background:rgba(0,0,0,0.3);
 backdrop-filter:blur(20px);
 border-radius:20px;
 box-shadow:0 0 30px rgba(0,0,0,0.5);
 border  : 2px solid rgba(255,255,255,0.3);
 color : #fff;
 inset : 0;
 margin : auto;
 display : flex;
 align-items: center;
 transition: height .2s ease;
 overflow: hidden;
 transform: scale(0);
 transition: heigh .2s  ease ,transform .5s ease;

}
.auth-model.show{
    transform: scale(1);
}
.auth-model.slide{
    height : 520px;
}
.auth-model .form-box{
 width:100%;
 padding:40px;
}

.auth-model .form-box.login,.auth-model.slide .form-box.login{
    transform: translateX(0);
    transition: transform .18s ease;
}

.auth-model.slide .form-box.login{
    transform: translateX(400px);
    position: absolute;
}

.auth-model .form-box.register{
    position: absolute;
    transform: translateX(400px);
}
.form-box h2{
   font-size: 35px;
   text-align: center;
}


.input-box{
 position:relative;
 width : 100%;
 height : 50px;
 margin:30px 0;
}

.input-box input{
 width:100%;
 height : 100%;
 padding:20px 45px 20px 20px;
 border-radius:40px;
 border:2px solid rgba(255,255,255,0.3);
 background:transparent;
 color:#fff;
 outline:none;
 font-size: 16px;
}
.input-box input::placeholder{
    color : #fff
}
.input-box i{
    position: absolute;
    right : 20px;
    top : 50%;
    font-size: 20px;
    transform: translateY(-50%);
}


.btn{
 width:100%;
 height: 45px;
 border-radius:40px;
 border:none;
 background:#fff;
 color:#222;
 font-weight:500;
 cursor:pointer;
 box-shadow: 0 0 10px rgba(0,0,0,0.1);
 font-size: 14px;
}

.form-box p{
    font-size: 14.5px;
    text-align: center;
    margin: 25px 0 10px;
}

.form-box p a{
    color : #fff;
    text-decoration: none;
    font-weight: 600;
}
.form-box p a:hover{
    text-decoration: underline;
}


.auth-model .close-btn-modal{
    position: absolute;
    top : 0;
    right : 0;
    width: 45px;
    height: 45px;
    background: #fff;
    border: none;
    border-bottom-left-radius: 20px;
    font-size: 35px;
    color : #222;
    cursor: pointer;
    z-index: 1;
}
.profile-box .avatar-circle{
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius:50% ;
    line-height : 40px;
    text-decoration: center;
    font-size: 25px;
    color : #222;
    font-weight: 600;
    cursor:pointer;
    text-align: center;
}
.profile-box .dropdown{
    position: absolute;
    top : 85px;
    right : 100px;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
    transition: .5s;
}

.profile-box.show .dropdown{
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.profile-box .dropdown a{
    padding: 6px 12px;
    border-radius: 4px;
    color : #222;
    text-decoration: none;
    font-weight: 500;
    margin : 2px 0;
    transition: .2s;

}

.profile-box .dropdown a:hover{
    background: #eee;
}
.auth-model.slide .form-box.register {
    transform: translateX(0);
}
.form-box.register {
    transition: transform .18s ease;
}



.alert-box{

    position: fixed;
    inset : 0;
    top : 35px;
    margin : 0 auto;
    width : 350px;
    height : 70px;
    background: #fff;
    border-radius: 6px;
    padding: 0 15px;
    z-index : 100;
    overflow: hidden;
    transform: translateY(calc(-100% - 35px));
    transition: .5s ease;
}

.alert-box.show{
    transform: translateY(0);
}

.alert{
    display: flex;
    align-items: center;
    height : 100%;
    color : #222;
    font-weight: 500;
}

.alert::after{
    content: '';
    position: absolute;
    bottom: 0;
    left : 0;
    width: 100%;
    height : 5px;
    background: #0abf30;
    animation: progress 6s linear forwards;
}
.alert.error::after{
    background: #f00;
}
@keyframes progress {
    100%{
        width : 0;
    }
    
}
.alert i{
    font-size: 35px;
    color : #0abf30;
    margin-right: 8px;
}
.alert.error i{
     color : #f00;
}
