<link rel="icon" href="https://thetailorcv.com/favicon.ico" sizes="any">
<link rel="icon" type="image/png" sizes="32x32" href="https://thetailorcv.com/static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://thetailorcv.com/static/favicon-16x16.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://thetailorcv.com/static/apple-touch-icon.png">
<link rel="manifest" href="https://thetailorcv.com/site.webmanifest">
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "TailorCV",
  "url": "https://thetailorcv.com",
  "logo": "https://thetailorcv.com/logo.png"
}
</script>
